/*  ==================================================
    breakpoint for nivac

                  0px                                    1920px +
    (0 - 767)     <----------- mobile
    (768 - 1023)              <----------> tablet
    (768+)                    -------------------------> desktop
================================================== */

// for mobile (0 - 767)
@mixin for-mobile {
  @media screen and (max-width: 768px), (orientation: portrait) {
    @content;
  }
}

// for mobile (0 - 1250)
@mixin for-mobile {
  @media screen and (max-width: 1250px), (orientation: portrait) {
    @content;
    .section {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;

      &--1 {
        width: 1384;
        flex-direction: column;
      }
      &--2 {
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        margin-top: 400px;
      }
      &__mid {
        position: absolute;
        top: 150px;
        left: 38%;
        right: 38%;
        justify-content: center;
        border: 1px solid red;
        z-index: -1;
        width: 335px;
      }
      &__btn {
        position: relative;
        margin-top: 120px;
      }
    }
  }
}

// for desktop (768+)
@mixin for-desktop {
  @media screen and (min-width: 768px) and (orientation: landscape) {
    // (min-width: 821px) and (orientation: landscape) {
    @content;
  }
}

// // alternative for tablet (768 - 1024) bearly use
@mixin for-tablet {
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    @content;
  }
}
