<div id="part2-game3" class="page" data-step="4" data-current="3" data-menu="1">
  <div class="scroll-inner">
    <div class="content-inner">
      <div class="section section--1">
        <h2 class="text text--h4">USE TO MOST APPROPRIATE WORDS TO MAKE YOUR CLIENT TRAVEL WITH THÉ YULONG.</h2>
        <h4 class="text text--gold">Associate the keywords to each ingredient.</h4>
      </div>
      <div class="section section--2">
        <div class="section__mid">
          <img src="images/pages/part2-game3/bottle.png" alt="">
        </div>
        <div class="section__side section__side--1">
          <div class="title">
            <h1 class="text text--h1">BLACK TEA</h1>
          </div>
          <div class="section__box" data-ans="left">
            <p class="text">Drag & Drop here</p>
          </div>
          <div class="section__box" data-ans="left">
            <p class="text">Drag & Drop here</p>
          </div>
        </div>
        <div class="section__side">
          <div class="title">
            <h1 class="text text--h1">GREEN TEA</h1>
          </div>
          <div class="section__box" data-ans="right">
            <p class="text">Drag & Drop here</p>
          </div>
          <div class="section__box" data-ans="right">
            <p class="text">Drag & Drop here</p>
          </div>
        </div>
      </div>
      <!-- <section class="section">
        <button class="section__btn text text--h2">POWERFUL</button>
      </section> -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="drag" data-ans="left">
              <div class="drag_inner"><span class="text text--h2" lcz="key-1"></span></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="drag" data-ans="right">
              <div class="drag_inner"><span class="text text--h2" lcz="key-2"></span></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="drag" data-ans="right">
              <div class="drag_inner"><span class="text text--h2" lcz="key-3"></span></div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="drag" data-ans="left">
              <div class="drag_inner"><span class="text text--h2" lcz="key-4"></span></div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <!-- If we need navigation buttons -->

    </div>
  </div>
</div>